<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">

<head>

    <title>Covid Tracker</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/grid.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="icon" href="../static/images/virus.png" th:href="@{images/virus.png}"type="image/jpg">
    
</head>



<body>
    <header>
        <img src="../static/images/virus.png" alt="virus logo" class="logo virus" th:src="@{images/virus.png}">
        <h1>Covid Tracker</h1>

   </header> 

   <div class="display">
       <div class="row">
        <table>
            <tr>
              <th><img src="../static/images/united-states.png" alt="states logo" class="icon" th:src="@{images/united-states.png}">STATE</th>
              <th><img src="../static/images/confirmation.png" alt="confirmed logo" class="icon" th:src="@{images/confirmation.png}">CONFIRMED</th>
              <th><img src="../static/images/graph.png" alt="active logo" class="icon" th:src="@{images/graph.png}">ACTIVE</th>
              <th><img src="../static/images/recovered.png" alt="recovered logo" class="icon" th:src="@{images/recovered.png}">RECOVERED</th>
              <th><img src="../static/images/corpse.png" alt="deaths logo" class="icon" th:src="@{images/corpse.png}">DEATHS</th>
            </tr>
            <div class="scroll">
            <tr th:each="row : ${stats}">
              <td th:text="${row.state}"></td>
              <td th:text="${row.confirmed}">0</td>
              <td th:text="${row.active}">0</td>
              <td th:text="${row.recovered}">0</td>
              <td th:text="${row.deaths}">0</td>
            </tr>
            </div>
          </table>
        </div>
    </div>

    <footer class="footer-section">
        <div class="names">
            <ul>
                <li></li>
                <li>Akshay Dhage</li>
                <li>Ashish M J</li>
                <li>Pavan Hatwar</li>
            </ul>
        </div>
    </footer>

</body>   

</html>